.item {
    border-bottom: 1px solid silver;
    padding: 5px 0 5px 10px;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.buttonsGroup {
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1%;
}

.buttonsGroup a:hover{
    cursor: pointer;
}

.important {
    box-shadow:
            0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .8),
            23px 0 20px -23px rgba(0, 0, 0, .8),
            0 0 40px rgba(0, 0, 0, .1) inset;
}

.done {
    text-decoration: line-through;
}

.item-info{
    width: 90%;
}

input[type="checkbox"]{
    display: none;
}

label::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://image.flaticon.com/icons/svg/17/17153.svg');
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px;
    transition: 0.3s;

}

input[type="checkbox"]:checked + label::before{
    border: none;
    border-radius: 50%;
    background: url("https://image.flaticon.com/icons/svg/1617/1617543.svg");
    background-size: 100%;
}

label::after{

}
